{% extends "election_app/base.html" %}
{% load static %}
{% block title %}Inscription{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/features.css' %}">

{% endblock %}
{% block content %}
    <div class="container">
        <div class="feature-box">
            <div class="rotate-line"></div>
            <div class="title">Features</div>
            <div class="feature-list">
                <div class="feature-item">
                    <img class="feature-icon" src="{% static 'icons/Lock.svg' %}" alt=""/> Secured by 256 bit encryption
                </div>
                <div class="feature-item">
                    <img class="feature-icon" src="{% static 'icons/Approved_Delivery.svg' %}" alt=""/> Verifiable
                    transactions
                </div>
                <div class="feature-item">
                    <img class="feature-icon" src="{% static 'icons/Hand_Cursor.svg' %}" alt=""/> Easy to use
                </div>
                <div class="feature-item">
                    <img class="feature-icon" src="{% static 'icons/Low_Price.svg' %}" alt=""/> Cheaper than ballot
                    voting system
                </div>
                <div class="feature-item">
                    <img class="feature-icon" src="{% static 'icons/Time_Span.svg' %}" alt=""/> Faster voting process
                </div>
            </div>

        </div>
    </div>
{% endblock %}