.container {
  width: 1440px;
  height: 1024px;
  padding: 160px 451px 160px 195px;
  background-color: white;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.feature-box {
  width: 794px;
  height: 704px;
  position: relative;
}

.rotate-line {
  width: 668px;
  height: 0;
  left: 165.50px;
  top: 686px;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  background: #015FC7;
  border: 7px solid #015FC7;
}

.title {
  left: 0;
  top: 571px;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: black;
  font-size: 115px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  word-wrap: break-word;
}

.feature-list {
  width: 569px;
  height: 704px;
  left: 225px;
  top: 0;
  position: absolute;
}

.feature-item {
  display: flex; /* Aligne icône et texte sur une ligne */
  align-items: center; /* Centre verticalement l'icône et le texte */
  margin-bottom: 40px; /* Espacement entre chaque élément */
  color: #010029;
  font-size: 30px; /* Taille du texte ajustée */
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.feature-icon {
  width: 100px; /* Augmente la largeur des icônes */
  height: 100px; /* Augmente la hauteur des icônes */
  margin-right: 15px; /* Espacement entre l'icône et le texte */
}

.feature-item:nth-child(1) { top: 10px; }
.feature-item:nth-child(2) { top: 143px; }
.feature-item:nth-child(3) { top: 271px; }
.feature-item:nth-child(4) { top: 389px; }
.feature-item:nth-child(5) { top: 516px; }
.feature-item:nth-child(6) { top: 640px; }
